<div class="center">
    <div class="content">
        <div class="row vert-pad">

            <div class="left padded">
                <h1>Desarrollo con pasión, aplicaciones y sitios web para personas.</h1>
                <p>Constantemente me encuentro aprendiendo las tecnologias y desarrollando aplicaciones por placer, esta pagina web la hice con python y Flask.</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que quieras</h1>
                <p>Solo enviame un correo <a href="#Correo" class="correo-link">Pinchando Aquí.</a></p>
            </div>
    
        </div>
    </div>
</div>
